<!DOCTYPE html>
<html lang="en">
<head>
    {% include "bootstrap.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
</head>
<body>
    {% include "navigation.html" %}
    <h1>Landing Page</h1>

    <!-- Button to go to book_search.html -->
    <a href="{% url 'book_search' %}">
        <button>Go to Book Search</button>
    </a>

</body>
</html>
